* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  background-color: #303030;

}
main{
  background-image: url('https://discordapp.com/assets/a00896b9b5af1ccebeb80816b71995d0.svg');
  background-size: cover;
  background-blend-mode: soft-light;
  padding: 195px;
  background-color: #303030;
}
h1{
  background-color: #404040;
  max-width: 10000px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;

}
main img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  transition: all .2s;
}
main img:hover{
  transform: scale(1.1);
}
a{
  text-decoration: none;
}
